*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contain {
  position: relative;
  
}

.imag {
  display: block;
 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(to right,rgba(0,0,0,0.44),rgba(0,0,0,0.44));
}

.contain:hover .overlay {
  opacity: 55%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}